body {
  background: #000000;
  color: white;
}
h1 {
  font-family: 'Redressed', cursive;
}
h2 {
  font-family: 'Redressed', cursive;
  font-size: 20px;
}
.bordaCarroselJennifer {
  background: #ffd7008f;
}
.bordaCarroselBruno {
  background: #592499d6;
}

